<div class="my-input-group" [ngClass]="{'full': value}">
  <label class="label" for=""> {{placeholder}}</label>
  <input #inputElement type="text" class="input {{class}}" name="{{inputName}}" [(ngModel)]="value" (ngModelChange)="fetchListId(value)" required [ngClass]="onNgClass">
  <!--<div #list id="{{listName}}" [hidden]="(list | filter: listFilter(value)).length <= 0">-->
  <div class="list" #listElement id="{{inputName}}_list">
    <div class="list-item" *ngFor="let item of listFilter(list)" (click)="value = currentPrefix + (itemKey ? item[itemKey] : item); fetchListId(currentPrefix + (itemKey ? item[itemKey] : item))">{{currentPrefix + (itemKey ? item[itemKey] : item)}}</div>
  </div>
</div>
